[2018-04-03 13:32] Strauman opened #1 "Remove default `\exerciseDir`, but keep for backwards compability"
It's kinda unintuitive to have a default directory. Now it defaults to \exerciseDir, but it shouldn't. But since several people already downloaded this package, then they should be able to keep doing it:

If the directory exercises/ exists and a set is not found, then print a \@latex@warning or \@latex@error to let them know they have to explicitly define \exerciseDir{exercises}.

[2018-04-03 13:33] Strauman opened #2 "Tagging exercises"
Ability to tag exercises and tell sprite only to build exercises with given tags.
Example:
[code]
Then in main file
[code]

[2018-04-03 13:36] Strauman opened #3 "Support solution in separate file"
The exercises might become quite messy. Putting solutions in a different file might help that. Done by some label on problems and solutions.

[2018-04-04 06:20] Strauman opened #4 "Package options"
Support for package options. I suggest using PGFKeys with an `\exercisebanksetup{}` command.

[2018-04-05 06:18] Strauman opened #5 "Ability to customize and remove headers for part problems"
As of now, the `\makeset[nohead]{}`still makes part problem headers. If the author of the bank does not wish these, the author should be able to turn them off. Making new headers can still be done with `\At\VeryBeginPartproblem`

[2018-04-05 11:02] mayoutu opened #6 "Can the titles "problem" and "solution" be changed?"
The default setting is "problem" and "solution" but can they be changed? I hope Chinese characters can be used instead, thank you!

[2018-04-05 11:39] Strauman commented on #6
Hello @mayoutu!
Thank you for asking and using the package:

Yes, this can be done by writing
[code]
I don't know if Chinese characters would work, but give it a go! If it doesn't work, then please open a new issue and let me know. When it comes to part problems ( 1a, 1b ) etc, this is not changeable right now, but is planned to go out on the next release in issue #5.

Hope this answers your quest

[2018-04-05 11:44] Strauman commented on #5
Links to #4

[2018-04-05 12:29] mayoutu commented on #6
I tried and it says undefined control sequence.

Another problem is this:

I made several TEX files of problems and each file has a couple. When I make a setup using all of them, and display the solutions, the paragraphing is poor. After some solutions, the next problem comes right after; after other solutions, it leaves a big blank and the next problem comes at the next page. What's the cause and

[2018-04-05 13:10] Strauman opened #7 "Paragraphs below solutions are weird"
This is due to an accidental push of wrong use of `\filbreak`.

[2018-04-05 13:11] Strauman commented on #6
That is very weird. It works fine when I do it. Does it work without the Chinese characters?

Regarding the paragraphs: yes, I am aware of this problem, and I will fix it on the next release. Added an issue #7

[2018-04-05 13:33] mayoutu commented on #6
The command works now but it doesn't support Chinese characters (the main document has no trouble reading them since I include certain packages).

As I set narrow side margins, the title becomes incomplete. How can I upload a figure that shows the margin problem and the paragraphing problem, too?

Thanks for the help and your package!

[2018-04-05 14:18] Strauman commented on #6
I really want this package to work properly, so I would like to know of the problems with it.
The paragraphing problem is being taken care of.

If you don't mind: please create two new issues
- The first with an example where the `\translateExerciseBank` fails (with the chinese characters).
- The second with a photo of the margin problem, or an example that recreates it.

I will look into it when

[2018-04-05 17:26] #6 closed

[2018-04-06 07:38] mayoutu opened #8 "Titles are missing when using short side margins"
![feedback](https://user-images.githubusercontent.com/38101830/38408467-36cba888-396d-11e8-92ef-0f5537fc7681.png)

I changed the titles to P and S. They don't display well when I set short side margins.

The figure also shows poor paragraphing between the solution and the next exercise.

[2018-04-06 07:43] mayoutu opened #9 "Undefined control sequence when I redefine problem and solution in Chinese"
![fb2](https://user-images.githubusercontent.com/38101830/38408652-fb82d99e-396d-11e8-9f9f-9cb5987f8bef.png)
When I redefine problem and solution to be P and S respectively, there is no problem; but when I redefine them to be in Chinese, it says undefined control sequence.

I'm using other packages and it has no trouble compiling the Chinese characters.

[2018-04-06 08:46] Strauman commented on #8
Paragraphing is already taken care of. I will look into the margins for 0.1.1 :)
Thank you for your issue!

[2018-04-06 08:56] Strauman commented on #9
For [0.1.0](https://github.com/Strauman/exerciseBank/milestone/1) (version coming out beginning of **next week**) you can try the following as a workaround:

[code]

[2018-04-06 08:57] Strauman commented on #9
I suspect, for the real fix, that the problem is that pgfkeys do not allow Chinese characters for some reason. I will try to investigate later.

[2018-04-06 09:17] Strauman opened #10 "Fix name of lengths and add them to docs for users to set as they please"
Lengths have too cryptic meanings and are inconsistent in which exists and not exists.
These should be available for users, and be well documented

Current lengths are defined in `problemstyle.tex`
[code]

[2018-04-06 09:27] #1 closed

[2018-04-06 09:28] #4 closed

[2018-04-06 09:28] #5 closed

[2018-04-06 09:28] #7 closed

[2018-04-06 10:12] Strauman opened #12 "Fix \sprite when multiple sets"
`\sprite` fails for multiple sets since no comma in `\@listOfSets`

[2018-04-06 16:49] Strauman commented on #9
@mayoutu - you can try the workaround now (if you download the "beta" version). You can download it [here](https://github.com/Strauman/exerciseBank/blob/master/exercisebank.zip), or from the front page of this repo :)

[2018-04-07 05:57] mayoutu commented on #9
I can wait until the next version comes out. No hurry!

[2018-04-07 08:26] Strauman opened #13 "Unit tests"
I would love it if someone could write one (or more files) that would test the functionality. That means just make `.tex`-files that uses the functionality from the docs. For example something that tests `\exercisebanksetup`. I would be very grateful if someone would pick up on this.

[2018-04-11 09:45] Strauman opened #15 "Add microtype and latin modern type"
See Handin Strauman/Handin-LaTeX-template#11

[2018-04-12 07:27] Strauman opened #16 "Implement problem and part problem header nicer"
Right now it is implemented with `itemize` to make it look nice. However, it should be done with `\vadjust` and `\smash{\llap{ . }}`.

[2018-04-12 07:27] Strauman opened #17 "Make "problem header position in left margin" optional"
#8 shows an example where the problem header goes outside of the page. This is due to the way it is implemented. Should be done after #16

[2018-04-12 07:29] Strauman commented on #8
I have made issues #16 and #17 that should provide a fix for using short side margins, as soon as it's implemented!

[2018-04-12 13:17] Strauman commented on #9
I'm closing this for now. Re open this if the work around did not work?

[2018-04-12 13:17] #9 closed

[2018-04-12 13:22] Strauman opened #18 "Command that executes differently on different sets `AtBeginSets{}`"
Maybe in the lines of `\AtBeginSets{SET1,SET2}{\input{fp}}`

[2018-04-12 13:43] Strauman opened #19 "Show part problem number in sprite"
Easier to pick part problems when part problem is in `\sprite`

[2018-04-12 13:43] Strauman opened #20 "`\phead` not working"

[2018-04-12 15:19] Strauman commented on #20
It works. My bad.

[2018-04-12 15:19] #20 closed

[2018-04-12 15:25] Strauman opened #21 "`\phead` not working in combination with `\StartBuildset` and `\input`"

[2018-04-12 15:27] Strauman commented on #21
Following file is included by main
[code]

[2018-04-12 16:33] Strauman opened #22 "Find a new way to hide environments"
Now the package is using the `comment`-package. This is the only way that was found that supported also `verbatim` and `listings` mode.

[2018-04-12 16:34] Strauman opened #23 "Remove vertical space between `intro` environments"
It might be that the `intro` gives away too much, so the space should be removed. Alternatively one could make `\hint` commands or the like that can be hidden by users choice.

[2018-04-13 14:02] #12 closed

[2018-04-13 14:02] #21 closed

[2018-04-16 18:42] Strauman opened #25 "Add `problem` options"
Ability to put options on `problem` environments. E.g. names to be reffered to later.

[2018-04-17 12:51] Strauman opened #26 "Command for displaying indices of part problems."

[2018-04-17 13:56] Strauman opened #27 "Exclude and Select not working as expected."
In the 0.1.x update, an `\At` bug was fixed, but introduced new bug that `\select` and `\exclude` now doesn't work.

[2018-04-17 14:17] #26 closed

[2018-04-17 14:17] #27 closed

[2018-04-18 10:21] Strauman opened #29 "Command that holds _all_ sets."
Command like `\allsets{exerc/someex, exerc/somotherset}` for use in `\sprite`. This can also be used to see which sets are unused.

[2018-04-18 10:29] Strauman opened #30 "Make a `\deletehook` in `\At`"
Make a command defined in the `\At` scope. MVCE:

[code]

And when `\Trigger\BeginSomething` is done, then the hook `\BeginSomething` is cleared.

[2018-04-18 10:36] Strauman opened #31 "[At] Make a `\Before` that does almost the same as `\preto`"
As the title suggests. Instead of `\g@addto@macro` then it uses `\preto` from package `etoolbox`.

[2018-04-18 11:09] Strauman opened #32 "Part problems in double digits generates fatal error"

[2018-04-18 11:44] Strauman opened #33 "Give `comment.cut` files more descriptive names"
It's hard to debug when it doesn't really show anything but `comment.cut`. It should be `\exerciseFile.cut` or the like.

[2018-04-18 11:48] Strauman opened #34 "Actually implement path control"
I'm fairly certain it says in the docs that figure environment is included automatically. This is however not implemented in the `exercisebank`.

[2018-04-18 11:54] #19 closed

[2018-04-19 20:00] #29 closed

[2018-04-19 20:00] #32 closed

[2018-04-19 20:00] #34 closed

[2018-04-20 09:03] Strauman opened #36 "Introduce variants of problems"
For example, if you have a problem that only have a few differences, you'd do e.g.
[code]

This could be extended to variants of the entire exercise. E.g. if you either can give the students an expression or ask them to derive it

[code]

This would probably relate to #25

[2018-04-23 08:14] Strauman opened #37 "Make envcontrol more generic"
It's kinda ad-hoc-messy as of now.

[2018-05-03 13:38] zhaofeng-shu33 opened #39 "typo in manual"
in `docs/intro.tex` line 105, "Anyhing" should be "Anything".

[2018-05-09 18:52] Strauman commented on #39
I'll make sure it's fixed in the next release! Thanks!

[2018-06-03 08:17] mayoutu commented on #6
Hi Strauman, I'm back.

I was very busy and I just used your new package and it still has the same problems:

1) Translation to Chinese characters cannot be recognized;
2) Narrow margin problem.

Please see the attached figure.
![untitled](https://user-images.githubusercontent.com/38101830/40884620-9b9e9e20-6706-11e8-859f-19a619886b22.png)

[2018-06-03 14:38] Strauman commented on #6
Hey! I'm also very busy!

Did you try the workaround I proposed in #9 ?
[code]
I haven't had time to fix the margin problem, but I might get to it in a couple of weeks.

[2018-06-03 15:34] mayoutu commented on #6
That works for Chinese characters, thanks!!

I will wait for your update. Take it easy!

[2018-06-23 09:43] Strauman commented on #18
Implemented a different way in e1d32ca, where one can use `\pgfkeys` to set custom variables for sets.

[2018-06-23 09:43] #18 closed

[2018-06-23 09:44] Strauman commented on #17
`\exercisebanksetup{style margins=off}`

[2018-06-23 09:49] Strauman commented on #8
In the __upcoming__ version do `\exercisebanksetup{style margins=off}`

[2018-06-27 15:08] Strauman commented on #22
[code]

[2018-07-04 08:58] Strauman opened #40 "Implement easy high-end frontpage functionality"

[2018-07-04 09:03] Strauman opened #41 "Functionality to build all sets as sets (not sprite)"

[2018-07-04 09:08] Strauman opened #42 "Ability to override `\makeset` pgf-keys in `\buildset`"

[2018-07-04 13:07] Strauman commented on #41
Perhaps:
[code]

[2018-07-04 13:44] Strauman opened #43 "Document problem `\needspace`"

[2018-07-13 09:29] Strauman commented on #22
Or do some `\if` and `\fi` stuff, as per [this answer](https://tex.stackexchange.com/a/437963/85834)

[2018-07-21 11:19] Strauman opened #44 "Document \makeset keys"

[2018-07-21 14:42] #8 closed

[2018-07-21 14:42] #10 closed

[2018-07-21 14:42] #39 closed

[2018-07-21 14:42] #16 closed

[2018-07-21 14:42] #17 closed

[2018-08-16 09:56] thorstengrothe opened #45 "Points and other features possible?"
Hi,

I like the idea of your package to keep things as simple as possible. I tried over the years many latex exam packages, the most important are `eqexam` and `xsim`. The problem with these packages is, that they have to much overload for my daily work. `Eqexam/Acrotex` needs Adobe Acrobat to run and `xsim` is very very slow at compile time, that's nothing for my daily work as a teacher with lot'

[2018-08-17 09:05] Strauman commented on #45
Hello thorstengrothe, and thank you for your interest in exercisebank.

1. Tagging problems are definitely on the todo-list. To make sure that it is the functionality that you want, head over to #2 and make sure? :)
2. Points are not planned as a built-in feature, but I will consider it.
3. This is something that should be fairly easy to implement without having it inside the package! Just use the

[2018-08-18 07:33] thorstengrothe commented on #45
Hello,

Thanks a lot for the hint. I modified the code a bit and got a working command, the only thing I don't know how to to do is a check function to test if the command is executed in a `problem` or `solution` environment. See my attached example. Do you have an idea?
[code]

[2018-08-18 10:01] Strauman commented on #45
You can try adding a flag in the begin/end solution-hooks:

[code]
and then
[code]
There are more triggers, which of most are documented on page 12 in the [docs](http://mirrors.ctan.org/macros/latex/contrib/exercisebank/exercisebank-doc.pdf).
 All are used with the same syntax `\At\HookName{}`.

[2018-08-18 18:58] thorstengrothe commented on #45
Ah I see a hook, yes this works fine now. I'm working on another new command adapted from eqexam which I use very often. I need some time for testing it. I you are interested I can post the final commands here, maybe you can use it for the package.

The next thing are points and autopoints, as I said this feature is essential for me, when I remember it right, tocolorbox has something, I will look

[2018-08-19 11:55] Strauman commented on #45
I'll be happy to include any command that you'd develop. It'd be awesome if you implemented it and using a [pull request](https://help.github.com/articles/creating-a-pull-request/).

[2018-08-19 11:55] Strauman commented on #45
Also: what is this command, from eqexam, you speak of?

[2018-08-20 16:02] Strauman commented on #45
@thorstengrothe I cannot unzip the NewCommands.zip-file?

[2018-08-20 18:14] thorstengrothe commented on #45
Ok, sorry zip file was corrupt, this should work...

[NewCommands.zip](https://github.com/Strauman/exercisebank/files/2303509/NewCommands.zip)

[2018-08-21 14:45] tristelune1 commented on #45
Hi, I'm also very interested by the following features:

1. tag system
2. the possibilities to add points

A tag system would be convenient, but I can wait. For the "points" feature" it's also essential for me. Do you know a workaround ? For me Something like

**Exercise 1 (2 Points)**

Would be already fine.

[2018-08-21 16:35] thorstengrothe commented on #45
Well, I think we have to define some counters and assign them to the problem environments. I found one promising package, see link [here](https://tex.stackexchange.com/questions/347469/total-number-of-points/347471). I guess it should  be hopefully possible with this package...

[2018-08-21 18:33] thorstengrothe commented on #45
A first rough workaround is working fine here with a small sideeffect
[code]
Assign `\points` under the problem header and run latex 2 times. Add `\problemsum` after `\begin{document}` and you got the total sum of the problem points. The sideeffect is, that the first line after the problem counter is indented, because there is the command `\points`. I have no clue how to avoid that at the moment.

[2018-08-22 08:56] Strauman opened #46 "Add points for exercises, and possibility for accumulating"
As requested in #45.
Possibility for adding points per problem. Could be implemented as a "problem option" as in #25

[2018-08-22 09:07] Strauman commented on #45
@thorstengrothe @tristelune1
I will add points for the next release. I'm working on a little more complicated workaround for now, and I will share it at [tex.SE](https://tex.stackexchange.com) when it's ready. Please ask _questions_, and share workarounds, over there :)

[2018-08-22 09:32] Strauman commented on #45
Maybe I wasn't clear in the previous message: I still _really_ appreciate your activity and input!

[2018-08-22 10:01] Strauman commented on #45
You can find the workaround [here](https://tex.stackexchange.com/a/447141/85834): https://tex.stackexchange.com/a/447141/85834

[2018-08-22 10:05] Strauman opened #47 "Posibility of making exercises in main file"
It should be possible to make exercises within the `\begin{document}\end{document}` somehow.

[2018-08-22 17:55] thorstengrothe commented on #45
@Strauman

No  problem, I'm glad if I can help a bit :-) I will comment your workaround on tex.exchange

[2018-08-23 09:58] Strauman commented on #45
@thorstengrothe @tristelune1 I have published a [pre-release here](https://github.com/Strauman/exercisebank/releases/tag/0.2.1-prerelease) that supports tagging. In the zip-file there is updated documentation with the tagging documentation added.

[2018-08-23 09:58] #45 closed

[2018-08-23 16:07] tristelune1 commented on #45
**@ Strauman**

Thank you very much!! I will test as soon as possible.

Thank you for your workaround on tex.SE. [The idea of thor](https://tex.stackexchange.com/a/447217/164657) is also very good.

[2018-08-23 18:51] thorstengrothe commented on #45
@Strauman
Me too, I download tomorrow and test. I wrote a comment [here](https://tex.stackexchange.com/questions/447140/how-to-add-exercise-points-to-package-exercisebank/447217#447217). The command `\totalpoints` has run after the `\buildset`. But I have a titlepage before the problems with `\totalpoints` in it. Is this fixable? If you run `\ShowNumbers` with your `newcommand` the numbers and the

[2018-08-23 21:43] thorstengrothe commented on #2
I played around with the new tagging option of your pre-release and it works pretty well, great work!

I found three things:
1. One **must** tag all problems otherwise the normal `\buildset` command shows nothing.
2. Is it possible to assign multiple tags like so: `tag=easy, sunshine, fun`? I tried it out but it does not work here, only one tag is possible.
3. I personally have a lot of courses an

[2018-08-26 12:40] Strauman commented on #2
Thank you so much for testing!

1. This is really strange! I'm reproducing it nicely, and I'll fix  `\buildset` command ASAP.
1. Multiple tags in lists are possible to implement, and I'll look into it.
1. I'm not really sure what the problem is, but you can build multiple by tags using `\buildtags{taglist}{setname}` as described on page 12 in the docs. If this is not what you meant, would you care

[2018-08-26 12:56] Strauman opened #49 "Tag bug: `\buildset` not working unless all part problems are tagged"
Must tag all problems otherwise the normal `\buildset` command shows nothing.

[2018-08-26 12:56] Strauman commented on #49
See @thorstengrothe's post in #2

[2018-08-26 13:07] Strauman commented on #2
@thorstengrothe I'm mentioning you in the changelog for thanks in the docs with a link to your github user. Let me know if this is not okay!

[2018-08-26 14:55] #3 closed

[2018-08-26 14:55] #15 closed

[2018-08-26 14:55] #30 closed

[2018-08-26 14:55] #31 closed

[2018-08-26 14:55] #33 closed

[2018-08-26 14:55] #37 closed

[2018-08-26 14:57] #40 closed

[2018-08-26 14:58] Strauman commented on #41
`\buildsets`

[2018-08-26 14:58] #41 closed

[2018-08-26 17:58] thorstengrothe commented on #2
@Strauman

Ok, let me try to clearify **Point 3**. Say I have 50 part exercises and I used them for different courses over the years. So I tag them for example with `HH17`, `HH194`

Now I make a new exam and would like to see my tags in a first compile. `Exsheets` has such a feature: `debug=true`:

![exsheets_tags](https://user-images.githubusercontent.com/19598706/44631231-77b7e200-a969-11e8-9b06

[2018-08-26 20:16] thorstengrothe opened #50 "\makeset[intro] not working in example files bug?"
1. I tried this command with the shipped example files:
`\makeset[intro]{1}{firstexercise}`
 and got this error message:
`! LaTeX Error: Something's wrong--perhaps a missing \item.`

2. The next thing is, that first line of the intro content is indented to the right like so:
![indent](https://user-images.githubusercontent.com/19598706/44632752-5f9f8d00-a980-11e8-94a8-69a86ba883b1.png)
I got `style

[2018-08-27 06:51] Strauman commented on #50
For the 2nd thing, try `\setlength\parindent{0pt}`. I'll look into the first.

[2018-08-27 06:55] Strauman commented on #2
@thorstengrothe It's clear now! This will be fixed!

[2018-08-27 06:57] Strauman commented on #2
@tristelune1 The every exercise-bug should already be fixed in the prerelease-version. See [releases](https://github.com/Strauman/exercisebank/releases)

[2018-08-27 06:59] Strauman commented on #50
@thorstengrothe I can't reproduce the first one. All the example files are auto-built for testing purposes when the `.sty`-file is built. Are you sure you have the `\begin` and `\end` `intro`, `problem` and `solution` on their own line with no other text whatsoever?

[2018-08-27 14:15] tristelune1 commented on #2
Unfortunately it isn't fixed for me. I have downloaded the last version, I have tagged nothing and I compiled with Latex. With version b76 only "Solution" was displayed. With version b77:
[code]
So only the "headers" are displayed. The description of the problem is not printed. Do you need a small example ? If yes, tell me the best way to send it to you. Perhaps you have a better alternative than

[2018-08-27 16:45] Strauman commented on #2
@tristelune1 Thank you so much for testing!

I can't reproduce, so please send me an MWE. The easiest would be writing the code here. Use three backticks, like these: ` ``` YOUR CODE ``` ` to format it nicely! You could also upload code here or, as you mention, use pastebin!

[2018-08-27 16:50] Strauman commented on #50
Reproduced with `\makeset[intro]{11}{\exclude{secondexercise}{1}}`

[2018-08-27 16:50] Strauman commented on #2
Reproduced with `\makeset{11}{\exclude{secondexercise}{1}}`

[2018-08-27 17:02] Strauman commented on #2
@tristelune1 Please open new issue next time, if the title doesn't match :)

[2018-08-27 18:09] Strauman commented on #50
@thorstengrothe Please check now. Thanks

[2018-08-27 18:10] Strauman commented on #2
@tristelune1 Please try now! If you have issues, please open a new issue if it isn't directly related to tagging exercises :)

[2018-08-27 18:10] #2 closed

[2018-08-28 15:34] thorstengrothe commented on #50
The intro command is working now fine. I can hide and display with

[code]
Now `\ShowNumbers` does not work, I make a new issue for that

[2018-08-28 15:40] thorstengrothe opened #51 "\ShowNumbers produces strange numbers"
When I set

`\ShowNumbers` in your example files I got this plus intro does not have a number.

![shownumbers](https://user-images.githubusercontent.com/19598706/44733880-d192e600-aae8-11e8-8f99-82bb9bb6b7ec.png)

And also, how can I change the attributes (font and color) of the command? Say, I would like yellow big sans serif numbers with a bit more distance to the text, is that possible?

[2018-08-28 17:01] Strauman commented on #51
That's a very interesting behaviour!

Are you running `\makeset` with `[intro]`?  It shows up here but is very malplaced

What command are you talking about here?

[2018-08-28 17:05] thorstengrothe commented on #51
Yeah, I'm running  `\makeset` with `\intro`

I'm talking about `\ShowNumbers ` I would like to customize it a bit: distance to the text, color and font attributes ...

[2018-08-28 17:13] Strauman commented on #51
`\ShowNumbers` is mostly a tool for using `\select` and `\exclude`. However, it can be done by redefining `\themetacounter`. The following should work:

[code]

[2018-08-28 17:18] Strauman commented on #51
This should now be fixed on the [develop branch](https://github.com/Strauman/exercisebank/tree/develop)

[2018-08-28 17:42] thorstengrothe commented on #51
Ok, no problem .. I found the next one :-)
But here are good news. I made a complete exam `exercisebank` today and it works pretty well. Better than `xsim` IMO :-)

[2018-08-28 17:51] Strauman commented on #51
I don't understand. Found the next what?

@thorstengrothe Great to hear that someone are using `exercisebank` and that it's working as expected. Really appreciate your help in testing and feedback, and I'll give you some credit in the docs of the upcoming version!

[2018-08-28 17:59] tristelune1 commented on #2
It's fixed, thank you! Great work!

Next time I'll open a new issue, but for me it was related.

[2018-08-28 18:01] thorstengrothe commented on #51
I'm sorry, I thought I found a new bug, I tried underscores in the exercise file names and get an error with `Auctex`. Then I tried it with `Texstudio` and it works. It's an `Auctex` issue and has nothing to do with `exercisebank`. I will investigate and report what's wrong with `Auctex`. Sorry for the noise.

[2018-08-28 18:03] Strauman commented on #51
@thorstengrothe Yeah - underscores in filenames are often a problem. Try escaping them using a leading `backslash`.

[2018-08-28 18:04] Strauman commented on #2
@tristelune1 Thanks for your help in these matters, and I'll be sure to mention you in the docs of the next release!

[2018-08-28 18:20] #49 closed

[2018-08-28 18:20] #50 closed

[2018-08-28 18:20] #51 closed

[2018-08-28 18:25] Strauman opened #52 "Create a `\ShowTags`-command"
Make a command that behaves like `\ShowNumbers`, but for tags.

[2018-08-28 18:30] Strauman opened #53 "Allow multiple tags"
Support for tagging an exercise with multiple tags.

[2018-08-28 18:30] #13 closed

[2018-08-28 18:30] #25 closed

[2018-08-28 19:52] Strauman commented on #45
@thorstengrothe I didn't see this until now. Did you get this fixed?

[2018-08-28 20:15] thorstengrothe commented on #45
Yes, but you need another package `\usepackage{totcount} ` and `\usepackage{marginnote}`
I'm a big fan of the KISS principle - but I have no clue how to avoid this in this case. But it works here fine. This is my modified code:
[code]
 This way you set  `\totalpoints`  before the `\buildset` command and it shows the correct sum of points.

[2018-08-29 20:45] tristelune1 opened #54 "Selection of multiple problems"
Hi,
I have tested the version 0.2.1 (b81) and there is an issue when selecting multiple problems. I do the following to select multiple problems:
[code]

Only the Problem 18 from the file "databaseNombres.tex" is displayed.

With version 0.2 there is no problem.

[2018-08-30 16:15] Strauman commented on #54
Do you experience this only when you use the `...`?

[2018-08-31 14:41] tristelune1 commented on #54
Yes, otherwise it works.

[2018-08-31 17:16] tristelune1 opened #55 "Underscore in file or path"
Hi,

My exercises are split in different files. For example I had:

- database_geometry.tex
- database_numbers.tex

I noticed there is a problem with the underscore. I had to make the following changes:

database_geometry.tex -> databaseGeometry.tex
database_numbers.tex -> databaseNumbers.tex

I had the same with paths. For example all my exercises are stored in:

exercises/geometry_euclidean/data

[2018-08-31 17:32] tristelune1 opened #56 "Pathcontrol doesn't work as expected."
Hi,

I have a lot of problems, so they are stored in external files. I include also some pictures in my problems and I have centralized them in a folder. For examples, my problems are in

 - /home/user/Documents/exercises/geometry/databaseGeometry.tex
 - /home/user/Documents/exercises/numbers/databaseNumbers.tex

and the pictures

  - /home/user/Documents/pictures/math/geometry/
 - /home/user/Docu

[2018-09-03 12:07] Strauman commented on #54
@tristelune1 Is this (the `...`) functionality you deem important for the package? It's a consequence of switching to a more light weight looping system, and reimplementing it would probably trade off a bit of speed if you have many exercises. I'd like to hear your opinion on this?

[2018-09-03 12:09] Strauman commented on #55
Does it work if you escape the underscore? That is using `database\_geometry.tex`?

I might be able to fix this.

[2018-09-03 13:59] tristelune1 commented on #54
@Strauman  This functionality is convenient, not important. With the experience from xsim, For the moment I prefer speed over a little convience. My arguments are the following:

1. I didn't try, but I think
`` \makeset[nohead]{myExerciseSet}{\select{databaseNombres}}``
select all exercises from "databaseNombres". If yes, there is already a way to display all exercises and to select the ones we wa

[2018-09-03 14:06] tristelune1 commented on #55
No, I get

`ERROR: Missing $ inserted. `

So it doesn't help to escape the underscore.

[2018-09-03 14:42] tristelune1 commented on #56
1. Without a trailing at the end, it doesn't work. I didn't test your second option. Let's take an example. For geometry exercises, I use sometimes pictures of planets of the solar system, let's say Mars or Jupiter. I want to have like a "database" of pictures. I could use those pictures in other documents, perhaps they have nothing to do with geometry exercises. For me it's much easier to put the

[2018-09-03 14:46] tristelune1 commented on #54
If you fix the support for the dots, the documentation doesn't need any modification. For sure, one second more isn't so important.
And yes I'm eager to be able to use multiple tags!

[2018-09-03 19:13] Strauman commented on #56
@tristelune1 It's actually governed by `\graphicspath` and `\input@path` in the [pathcontrol.tex](https://github.com/Strauman/exercisebank/blob/develop/src/pathcontrol.tex)-file, and the scenario you describe _should_ work I think. However, I'll try to reproduce and get back to you :)

[2018-09-03 20:10] Strauman commented on #53
Should now be possible with just using `\nextproblem{tags={list,of,tags}}`

[2018-09-03 20:10] Strauman commented on #54
@tristelune1  Multiple tags should now be possible with just using `\nextproblem{tags={list,of,tags}}`

[2018-09-04 10:50] Strauman opened #57 "Vertical space when hiding `intro`s"
When using `\nextproblem{hide}` on a  `intro` env with `\makeset[intro]`, it has a lot of whitespace.

[2018-09-04 10:57] Strauman opened #58 "Hiding next problem if `\nextproblem{hide}` is used on intro"
Hiding next problem if `\nextproblem{hide}` is used on intro with `\makeset[intro]`

[2018-09-04 13:01] tristelune1 opened #59 "Tag bugs: documentation, solution and nextproblem at the beginning of the file"
I think some issues are remaining.

1. I have tested the tag feature, but I think there are still some problems. I have only tested with one tag, not multiple tags. As before, my exercises are in an external file: ``databaseNombres.tex``

There are a lot of problems, only two are tagged. I have added before two problems:

    \nextproblem{tag=fiche1}

To select the problems in my main file:

    \

[2018-09-04 18:51] Strauman commented on #59
@tristelune1 We're a great team! Your testing helps me out **SO** much! Thank you! This should be fixed in b86!

[2018-09-04 18:57] Strauman commented on #36
Kinda solved by #2

[2018-09-04 18:57] #36 closed

[2018-09-04 18:58] Strauman commented on #23
Likely solved by #57

[2018-09-04 18:58] #23 closed

[2018-09-05 15:02] tristelune1 commented on #59
@Strauman Yes, it's a pleasure! I'm eager to use your package with all features! I think there is more to come before you release this version, stay tuned ;-)

I've tested, but unfortunately it doesn't work. Yesterday I tried and I have in mind it compiled without problem, but every problem were displayed. Today I get an error after the compilation:
[code]
I let you check, I don't know the tex syn

[2018-09-05 18:57] Strauman commented on #59
@tristelune1 Can't seem to reproduce?

[2018-09-05 19:03] Strauman commented on #59
@tristelune1 I just made a rebuild (maybe something happened during the compilation or the like). You can find build 87 [here](https://raw.githubusercontent.com/Strauman/exercisebank/0.2.1b87-prerelease/exercisebank.sty)

[2018-09-05 20:40] tristelune1 opened #60 "Exercise 11 from external file not displayed with pre-release"
Hi,

I have really a strange behavior. I have the following:

    \makeset[nohead]{myExerciseSet}{\select{databaseGm}{11}}
     \buildset{myExerciseSet}

When I compile, I get no error and an empty page. It's the same for all external file. If I try to display the exercise 11, it's always the same behavior. If I add a dummy exercise, for example:

[code]
and let's say it's the new exercise 11, the

[2018-09-05 20:44] tristelune1 commented on #59
It doesn't work either with the new build. I have to investigate. But before, please take a look at [#60](https://github.com/Strauman/exercisebank/issues/60). Perhaps it's the reason why I have the problem.

[2018-09-06 06:34] Strauman commented on #60
Ah, the 11-bug. Had a similar issue when building `\makeset{11}{somefile}`. I don't really remember what was wrong, but I'll look into it.

[2018-09-06 07:58] Strauman commented on #60
Huh. Turns out I'm using `\if` wrong here!

[2018-09-06 08:01] Strauman commented on #60
Note to self:
`\def\content{aa}\if\content\relax TRUE \else FALSE\fi` returns true because the "if" evaluates to
`\if aa\relax` which is true.

[2018-09-06 08:33] Strauman commented on #60
Should be good in build 88

[2018-09-06 20:08] tristelune1 commented on #60
I thought twice before I reported this bug, because I had a strange feeling! I was sure I was doing something wrong!!

Thank you, now it works. As you know, next bug ;-).

[2018-09-06 20:14] tristelune1 commented on #59
Bug [#60](https://github.com/Strauman/exercisebank/issues/60) is solved, but it still doesn't work. With a ``buildset`` instruction everything works fine, excepted some blank pages, but that's another problem. As soon as I use ``buildtags`` with two different external files:

- for one I get an error
- for the other it's compiled without an error, but the tagged problems are not selected. I'll try

[2018-09-07 06:39] Strauman commented on #59
I have to be able to reproduce it, or else I don't know what to fix :/

[2018-09-07 06:39] #60 closed

[2018-09-07 06:40] #54 closed

[2018-09-07 06:40] #57 closed

[2018-09-07 06:42] Strauman commented on #59
I'm reproducing it!

[2018-09-07 06:54] Strauman commented on #59
Should be working in build 89!

[2018-09-07 12:35] tristelune1 commented on #59
HHmm, sorry to be the killjoy or partypooper... (It's a new word for me, I assume it's the right one!).

I think the selection by tag works, but one of our friend seems to be back. If the file doesn't begin with ``\nextproblem`` I have an error. Do you have the same ?

[2018-09-07 15:27] Strauman commented on #59
@tristelune1 I think those are the right words, yes. Actually - I think you're the party saver, because without you I'd probably publish a version containing a lot of bugs 🥇

[2018-09-07 15:28] #58 closed

[2018-09-07 15:33] Strauman commented on #59
it was #49, but I actually don't have that error!

[2018-09-07 15:39] Strauman commented on #59
I was able to reproduce it. I think

[2018-09-07 15:58] Strauman commented on #59
Can't reproduce it.

[2018-09-07 18:36] tristelune1 commented on #59
Thank your for your comment, I appreciate it a lot  :smiley: !!

No, this bug [#59](https://github.com/Strauman/exercisebank/issues/59). Take for example this master file (I let you adapt what is necessary):

[code]

Then this external file (`databasedummy`):

[code]

1. Compile the main file. It works without a problem.
2. Delete the first `nextproblem` of the external file. Compile the main file

[2018-09-08 09:51] Strauman commented on #59
Yup. That reproduces it! 👍

[2018-09-08 11:04] Strauman commented on #59
Should be fixed in b90

[2018-09-08 14:11] thorstengrothe opened #61 "current points style leads to error"
Hi,

I tested the last prerelease and I see that many things are working fine now, good work.

In the manual I found the option `current points style` I'd like to customize the appearance of the points and set the default value from the manual in the shipped example files like so:

[code]
I got an error:
`Undefined control sequence. \begin{problem}`

What I'm doing wrong?

Regards
Thorsten

[2018-09-08 15:39] thorstengrothe opened #62 "Show only solutions"
I got an idea for a new feature. I think it would be useful to have a command that show only the solutions of an exercise - that would reduce much space, like so

[code]

Regards
Thorsten

[2018-09-08 15:42] thorstengrothe opened #63 "Make synctex working with exercisebank"
Synctex essential for my workflow. I know, that it does not work with `xsim`, I missed it a lot. So I think it would be very convenient to get it work with `exercisebank`. Is there a way to get i running?

Regards
Thorsten

[2018-09-08 16:02] tristelune1 commented on #59
There is no more error.... but unfortunately, it doesn't work as expected. Take my `databasedummy` and my main file. Delete the first `nextproblem` of `databasedummy`. I expect that only the second problem is displayed. For me both problem are displayed.

[2018-09-08 16:05] tristelune1 commented on #62
Great Idea! For me it would be enough, if only all the solutions are displayed. It would be not necessary to choose at the exercise level.

[2018-09-08 16:07] tristelune1 commented on #61
I'm not sure it's relate, but if I use the point system, nothing is displayed. If it's not related, I'll create another issue.

[2018-09-08 18:30] Strauman commented on #62
It's actually implemented, but not thoroughly tested or documented. I don't even know if it works properly: `\SolutionsOnly`

[2018-09-08 18:31] Strauman commented on #61
@thorstengrothe did you remember `\makeatletter`?

[2018-09-08 19:42] Strauman commented on #63
That would be awesome. However - I highly doubt that it's possible :/

[2018-09-08 19:44] Strauman commented on #61
@tristelune1 Can't replicate. Point system seems to work for me? Please open new issue :)

[2018-09-08 19:49] Strauman opened #64 "Following problem always showing (independent of chosen tag)"
As title says: Tag first problem with `tag1` second problem with `tag2` and then `\buildtags{tag1}{exerc}`, and the second still shows.

[2018-09-08 19:51] Strauman commented on #59
@tristelune1 This should be a new problem. I made one: #64. The reason I want it in a different issue is so that if it arises again, I can easily see what I did to fix it the previous time. Also it's easier for me, you and anyone else to keep track of what is fixed and what isn't.

[2018-09-09 08:53] Strauman commented on #62
@thorstengrothe @tristelune1 I'm gonna set up Travis CI for testing. I'd need files that does testing. Would you guys care to collaborate and help me make said files?

What I ultimately need is to have files that verifies documented functionality. This way things are automatically tested using those files!

Travis CI would run `latexmk` on the generated test files, and give an error if it failed a

[2018-09-09 09:36] tristelune1 opened #65 "Problem not tagged is showed"
Hello, consider this main file:

[code]

And this external file `databasedummy`:

[code]

After compilation, for me the first problem should not be displayed. But I have all three problems in my document, even if the first problem is not tagged.

[2018-09-09 10:53] thorstengrothe commented on #61
@tristelune1
I cannot reproduce it, works for me, see here!
@Strauman
Yes, my fault I forgot \makeatletter, \makeatother

This works fine (with `\usepackage{marginnote}`):
[code]

Result:
![points](https://user-images.githubusercontent.com/19598706/45263711-172ba900-b42f-11e8-96e7-250231666c70.png)

[2018-09-09 12:00] thorstengrothe commented on #62
I can sent you a couple of files, but you need to include my personal *.sty file, otherwise it won't compile and you have to compile with `xelatex`, would this help? Maybe the simplest way would be a compressed *.zip file.

[2018-09-09 12:03] thorstengrothe commented on #63
Ok, that's a shame :-)

[2018-09-09 12:34] Strauman commented on #65
I Isn't this the same as #64? If it is, then it should've been fixed already :)

[2018-09-09 12:37] Strauman commented on #62
@thorstengrothe I'm still working on Travis. I'm mainly building on `pdflatex`. The thing is that the test files should be made from scratch for that exact purpose. I'll show you guys an example when I get that far :)

[2018-09-09 14:39] Strauman commented on #62
@thorstengrothe @tristelune1 In the [develop](https://github.com/Strauman/exercisebank/tree/develop) branch you can now see a [tests](https://github.com/Strauman/exercisebank/tree/develop/tests) directory. It contains multiple things. See how the [tests/sanitycheck/main.tex](https://github.com/Strauman/exercisebank/tree/develop/tests/sanitycheck/main.tex) is made, and you can make similar structur

[2018-09-09 15:50] tristelune1 commented on #65
Unfortunately not :disappointed:.  In #64 , you have two problems, and both are tagged. In my example, we have three problems:

- the first **is not tagged**
- the second and third are tagged

If we create the exercise sheet with the tag of problem 2 and 3, we also have the first. It's probably possible to construct an similar case with only two problems. There was similar problems when the first

[2018-09-09 20:28] tristelune1 commented on #62
@Strauman , sorry I didn't read the new comments here. I don't know Travis, I'll have a look at the structure of the tests and provide some test files. By the way, thank you for the last build!

[2018-09-10 07:36] Strauman opened #66 "`\buildset` hangs if set not exists."
Seems like it goes in infinite loop:

[code]

[2018-09-10 10:56] thorstengrothe opened #67 "Strange indention with 0.2.1-prerelease (build 92)"
With the new prerelease, every first line is indented, see here from the test files. The last version did not have this behaviour:

![indent](https://user-images.githubusercontent.com/19598706/45293588-e617ab00-b4f8-11e8-9fe9-1003c3204f2f.png)

[2018-09-10 14:20] Strauman opened #68 "The `src/` section of the README needs an overhaul"

[2018-09-10 19:42] tristelune1 commented on #65
Now it works as expected, thanks! :+1:

[2018-09-10 20:22] tristelune1 opened #69 "First page has only the title"
Hi, I have a strange behavior. For the moment I include the files in my message. I still have to look how I can integrate this example to your tests. My main file:

[code]

The `dummydatabase`

[code]

You will see the selected problem is on page two after compilation. Possible workaround:
- in the main file, delete the `{\Large      }` block. Unfortunately it is not always possible.
- If I have o

[2018-09-11 16:43] Strauman commented on #69
Try `\exercisebanksetup{tighten paragraphs=False}`

[2018-09-11 16:44] Strauman commented on #69
That would turn on the "tightening" of the paragraphs: exercisebank has a setup that attempts to contain all part problems to stay on one page. That is, trying to prevent that part problems are split across multiple pages. So `\exercisebanksetup{tighten paragraphs=False}` disables this functionality.

[2018-09-11 19:01] #65 closed

[2018-09-11 20:39] thorstengrothe commented on #69
Yes, and this feature is extreme useful, neither eqexam nor xsim has this implemented. I often spend a lot of time to insert manual pagebreaks to get this work. I have an idea for a new feature to handle this problem.

If it would be possible to rearrange the order of the problems with `\select`, one could select a problem that fits to the page per hand, like so:

[code]
At the moment the order of

[2018-09-12 07:13] thorstengrothe commented on #62
Me too, but I will need some time for this, cause I have I a lot of personal macros for my problems...

[2018-09-12 07:33] Strauman commented on #62
Take the time you'd need. Start by forking this repo (top right of this page it says "fork"). That is making a copy of your repo. Then you can follow [this guide](https://help.github.com/articles/committing-changes-to-a-pull-request-branch-created-from-a-fork/) :)

[2018-09-12 07:36] Strauman opened #70 "Make a command like `select` that considers order."
e.g.
[code]

[2018-09-12 07:36] Strauman commented on #69
1. Did it work turning off `tighten paragraphs`?
1. Making ordered select is now a new issue (#70).

[2018-09-12 08:02] tristelune1 commented on #69
@Strauman Sorry, yesterday I had a nice surprise: my computer didn't start. So I had a nice day configuring a dual boot :disappointed_relieved: on another computer.

Yes, `tighten paragraphs` works perfectly for me, thank you!

[2018-09-12 08:06] tristelune1 commented on #70
I had also this problem, I wanted to change the order of the problem. I think it's always the same: is it difficult to solve ? What about speed ?

For sure it's convenient, I have a lot of problems, so I would appreciate it. But there is a workaround at the moment:
[code]

[2018-09-12 08:09] tristelune1 commented on #62
Thank you! But probably at the beginning it won't probably exactly fit to your expectations :wink:

[2018-09-12 08:10] Strauman opened #71 "\DeclareExerciseCommands should take arguments"

[2018-09-12 08:12] Strauman commented on #62
@tristelune1 I know there is a learning curve and will be sure to appreciate any effort :)

[2018-09-12 08:12] Strauman commented on #70
@tristelune1 This is almost how I plan to implement `\orderedselect`.

[2018-09-12 08:13] Strauman commented on #69
That sucks! Is your computer okay?

[2018-09-12 08:13] #69 closed

[2018-09-12 09:57] Strauman opened #72 "Make a `\makesetdefaults` that sets the default keys for `\makeset`"
Instead of always having to do

`\makeset[intro,nohead]{setname}{exfile}` everywhere one could

`\makesetdefaults{intro,nohead}` and then this would act as default. Further more introduce `nointro` and `head` for overriding/flipping back.

[2018-09-12 19:57] tristelune1 commented on #69
Today it wasn't better. Now it was send for a check and to be repaired. What I discovered is that it won't be repaired in my country, not even in a country which has a boundary where I live. It's incredible!

[2018-09-12 19:58] tristelune1 commented on #70
@Strauman Ok, a kind of macro.

[2018-09-14 18:34] Strauman opened #73 "Make (good) examples"
The examples need an update. Just real problems and solutions that also demonstrates how the package work. The commands that I believe is most important to demonstrate are
- The `intro`, `problem` and `solution` environment
- `\DisplaySolutions`
- `\nextproblem` (list of tags and points)
- `\select` and `\exclude`
- `\buildsets`
- `\buildtags`
- a few demonstrations of `\exercisebanksetup`

[2018-09-16 08:32] Strauman commented on #59
Great!

[2018-09-16 08:32] Strauman commented on #59
(You can close issues that you opened too :) )

[2018-09-16 08:32] #59 closed

[2018-09-16 08:32] Strauman commented on #53
I'm waiting for publishing at least until the examples are improved :) Closing this.

[2018-09-16 08:32] #53 closed

[2018-09-17 09:54] Strauman opened #74 "Command to hide selected tags during normal build"
Assume that during `\buildset{...}` you want to hide exercises with a tag, say, `\nextproblem{tag=explanation}`, then you could just do e.g. `\hidetags{explanation}`.

[2018-09-17 16:11] tristelune1 commented on #69
Hi, I'm afraid we have to reopen this issue. I have again the same problem. Sorry for not making a pull request, but it was a lot of work to simplify the example and to understand a little bit what happens. The main file is the following:

[code]

The `databasedummy` [is on pastebin here](http://pastebin.fr/54541). You will see, it has a lot of problems. I have some external files with about 70-80

[2018-09-17 16:20] tristelune1 opened #75 "First page is blank with a lot of problems"
We have something similar to #69 , but the solution with `tighten paragraphs` doesn't work. Sorry for not making a pull request, but it was a lot of work to simplify the example and to understand a little bit what happens. The main file is the following:

[code]

The `databasedummy` [is on pastebin here](http://pastebin.fr/54541). You will see, it has a lot of problems. I have some external files

[2018-09-18 06:44] Strauman commented on #75
Just for troubleshooting: what if you do `\global\let\filbreak\relax` right after `\usepackage{exercisebank}`? Does that work?

[2018-09-18 14:04] tristelune1 commented on #75
No, it does not help.

[2018-09-18 19:13] Strauman commented on #75
Dang it. I'll spin up your example when I have time :)

[2018-09-20 15:05] tristelune1 commented on #75
I have some news. I have just created an exercise sheet with `buildset` instead `buildtags`. With `buildset` there is no problem. I think also the problem has to do with `buildtags`. The database is exactly the same, there are some `nextproblem` instructions in the database. Perhaps it can narrow your search!

[2018-09-20 15:19] tristelune1 opened #76 "Ordered problems with tags ?"
Hi, I think we should clarify what is possible to do with tags. With my external files growing, there is a new issue. I tag some problems, for example with `exercise_sheet1` and then I use a `buildtags` command. The problems then are displayed in my document in the same order as in the external file.  There is also an issue, but without tag: #70 . In this issue, it should be possible to change the

[2018-09-21 07:30] Strauman commented on #76
1. Yes, but it'll take forever to build. It would have to run all the files for every tag.
2. No, not really. I'll keep it in the back of my mind though in case I come up with some smart solution.

[2018-09-23 10:44] tristelune1 commented on #76
Ok, so I'll keep it in my and I will probably use rather the select command in some cases. I think you could mention in the documentation this fact.

[2018-09-24 17:33] #52 closed

[2018-09-24 17:33] #64 closed

[2018-09-24 17:33] #67 closed

[2018-09-24 17:33] #71 closed

[2018-09-24 17:33] #72 closed

[2018-09-24 17:33] #74 closed

[2018-09-26 20:18] thorstengrothe commented on #73
Sorry for not responding a longer time. But I have a lot of other things to do for my job. It will take some time before I can upload my exercises. I have to learn travis I guess. But I will help if I can. At the moment I have a lot of - more or less complicated - exercises converted from xsim I use for daily work..

[2018-09-26 20:26] thorstengrothe opened #77 "New command: \NumberedPartProblemsOff"
I guess this is very useful for selecting exercises when `\ShowNumbers` is on. This way you only see the result of `\ShowNumbers` and not the numbered part problems, which makes life easier for me:

[code]
![bildschirmfoto_2018-09-26_20-23-07](https://user-images.githubusercontent.com/19598706/46107104-c9f35980-c1da-11e8-92d7-219defd9e45d.png)

Maybe this should be implemented?

Thorsten

[2018-09-27 18:54] Strauman commented on #73
I think exercises that are already written are a bit much. I think exercises that just demonstrates the core functionality are what is needed :)

[2018-09-27 18:56] Strauman opened #78 "Ok, so I'll keep it in my and I will probably use rather the select command in some cases. I think you could mention in the documentation this fact."
_Originally posted by @tristelune1 in https://github.com/Strauman/exercisebank/issues/76#issuecomment-423807328_

[2018-10-01 08:40] balodja commented on #6
I have encountered the same bug for cyrillic characters. The workaround works like a charm, thanks.

[2018-10-01 17:16] thorstengrothe opened #79 "Show number of used exercises"
Is there a command showing the number of used exercises in a \buildset?

[2018-10-02 10:44] Strauman commented on #79
Not builtin, but can be made with the following

[code]

[2018-10-02 12:53] Strauman opened #80 "Trailing comma in lists cause errors"
e.g. `\makeset{exlist,exlist,}` causes error. Although fixed in 8efdeae, it should be mentioned.

[2018-10-02 20:19] thorstengrothe commented on #79
The command works until this line, (see my comment in the code):
[code]
This is the error message:

![bildschirmfoto_2018-10-02_20-15-11](https://user-images.githubusercontent.com/19598706/46374390-ea1a9100-c690-11e8-8120-fadecaf1fa92.png)

[2018-10-03 07:49] Strauman commented on #79
That's odd. I'll look into it!

[2018-10-03 07:54] Strauman commented on #79
Forgot `\makeatletter` and `\makeatother`. Updated. Try now!

[2018-10-03 10:11] thorstengrothe opened #81 "Problem with tag selections maybe new bug?"
With `\buildtags{easy}{tags}` the tag selection is not working. Result:

![bildschirmfoto_2018-10-03_10-08-14](https://user-images.githubusercontent.com/19598706/46404287-09530600-c705-11e8-8f35-6f7da0156983.png)

These are the files:

[code]
And the main file
[code]
Is this my fault? I'm using exercisebank v0.2.1/95 here.

[2018-10-03 14:28] Strauman commented on #81
You're right?! I pushed something that didn't work :(

On it.

[2018-10-03 14:31] thorstengrothe commented on #81
Good to hear that, I thought it was my fault :-)

[2018-10-03 15:12] Strauman commented on #81
Here is the new [prerelease](https://github.com/Strauman/exercisebank/releases/tag/0.2.2b96-prerelease)

[2018-10-03 17:45] thorstengrothe commented on #81
Until now it works for me after a few tests :-)
Thanks for the fast fix!

[2018-10-03 17:46] thorstengrothe commented on #79
Works perfectly now!

[2018-10-04 10:05] Strauman commented on #81
Fix pushed to CTAN

[2018-10-04 10:05] #81 closed

[2018-10-04 10:05] Strauman commented on #80
fix pushed to CTAN

[2018-10-04 10:05] #80 closed

[2018-10-12 21:22] thorstengrothe opened #82 "problems without \nextproblem leads to missing number with xelatex"
Take `firstexercise` of the examples in the last prerelease package. These exercises do not have
the `\nextproblem` tag before `\begin{problem}`. The compilation leads to this error

`Missing number, treated as zero. \begin{problem}`

but only with `xelatex`, with `pdflatex` it compiles without an error. If you set `\nextproblem{points=6}` it works with `xelatex` too. If you set `\nextproblem{tag=

[2018-10-13 16:38] Strauman commented on #82
Interesting. It's definitely not supposed to be like this? `xelatex`

[2018-10-13 18:09] Strauman commented on #82
I found the error. And it's huge. `\pdfstrcmp` does not work in `xelatex`. I use it everywhere. Darn.

[2018-10-14 07:46] thorstengrothe commented on #82
Hm, sounds not so good but I'm glad that I was right. Maybe this could help, I found a discussion about `\pdfstrcmp` between some contributors well known in the latex scene.

[Link](https://tex.stackexchange.com/questions/111296/pdfstrcmp-or-strcmp-in-pure-texurl)

Thorsten

[2018-10-14 11:01] Strauman commented on #82
Yup. I saw that as well. I guess I have to find some other solution at some point.

[2018-10-21 12:10] thorstengrothe commented on #62
I tested the command but here with the latest prerelase it does the same as `\DisplaySolutions`. I would be great to get the command running...

Thorsten

[2018-10-22 10:20] Strauman opened #83 "`\phead` and `\ShowFilenames` crash"
Not working as expected.

[2018-10-24 08:29] Strauman commented on #62
I'm on it! :)

[2018-10-24 15:08] thorstengrothe commented on #62
That's good news !

[2018-10-31 15:40] thorstengrothe commented on #62
@Strauman

I think there is a small bug in the new prerelease `exercisebank-0.2.3b104-prerelease`.
Take the test file shipped with  the release `example.tex` and set

`\DisplaySolutions`
or
`\SolutionsOnly`

I got for both options a error message:

[code]
I searched a bit in the source code but I cannot find the error, my programming skills are to weak for this unfortunately :-)

[2018-11-02 09:21] Strauman opened #84 "`\SolutionsOnly` not working"
From #62:

I think there is a small bug in the new prerelease `exercisebank-0.2.3b104-prerelease`.
Take the test file shipped with  the release `example.tex` and set

`\DisplaySolutions`
or
`\SolutionsOnly`

I got for both options a error message:

[code]
I searched a bit in the source code but I cannot find the error, my programming skills are to weak for this unfortunately :-)

_Originally poste

[2018-11-02 09:21] Strauman commented on #62
Huh. I'll look into it! See #84

[2018-11-04 15:30] Strauman opened #85 "Part problem header shows twice and unappropriately when itemize is used"
Thanks for the fix, the error is gone and all solutions are displayed fine. One thing remains, if you have a `itemize` oder `enumerate` env in the solutions like so:
[code]

than these environments are counted by the part problem counters, see here:
![bildschirmfoto_2018-11-04_10-26-57](https://user-images.githubusercontent.com/19598706/47962954-a1098400-e024-11e8-917b-a5dffc42d9a0.png)

_Original

[2018-11-04 16:00] Strauman commented on #84
Moved that to #85: Also,  @thorstengrothe, thanks for the image! It really helps!

[2018-11-04 18:30] thorstengrothe commented on #85
Great, works perfectly until now, thanks for the super fast support. I will test and report any bug I'll find in the future :-) P.S. The package get's better and better!

[2018-11-04 18:44] Strauman commented on #85
@thorstengrothe Thanks for your help :D 👍

[2018-11-05 11:46] #62 closed

[2018-11-05 11:46] #83 closed

[2018-11-05 11:46] #84 closed

[2018-11-05 11:46] #85 closed

[2018-11-05 19:02] thorstengrothe opened #86 "TeX capacity exceeded with custom points style and marginnote"
I got this style defined for my points (needs \usepackage{marginnote}):

[code]

with the latest prerelease this leads to an error:

`TeX capacity exceeded, sorry [grouping levels=255]. \item A`

For testing take the attached file and rename it to *.tex!
[custom_points_error.txt](https://github.com/Strauman/exercisebank/files/2550177/custom_points_error.txt)

[2018-11-05 20:04] Strauman commented on #86
The `current points style` is called inside a `\leavevmode{\smash...}` setup. That is at `\At\PartProblemHeaderSuffix`. I'm setting up a new hook `\At\PostPPHeader{POINT LOGIC HERE}` that will trigger right after the problem header has been printed.

[2018-11-06 05:51] thorstengrothe commented on #86
How do I have to use it? I downloaded the latest prerelease and tested but the error still resists. I tried (see comment in code)
[code]

[2018-11-06 09:43] Strauman commented on #86
I made a different approach of moving stuff into the right margin. I don't know if it will work in absolutely all cases, but it works fine in basic tests. It takes advantage of the new `\AfterPPHeader` hook:

[code]

[2018-11-06 18:34] thorstengrothe commented on #86
Thank you very much for the code. Yes it works here until now after some testing. One small issue is the additional indention between the number of the part problem and the text, see the image here:

![bildschirmfoto_2018-11-06_18-21-01](https://user-images.githubusercontent.com/19598706/48085311-2abe7a80-e1fa-11e8-924f-e93401ceb88a.png)

I think it's very good to use as less foreign packages (her

[2018-11-06 19:43] Strauman commented on #86
Yeah - need a better right-margin code that does not utilize `\marginpar` or `\marginnote`. Alternatively find a different way of setting part problem headers.

[2018-11-06 19:45] Strauman commented on #86
The space seems to be due to your `\phantom{0pt}`. Here it is removed:

[code]

[2018-11-06 21:54] thorstengrothe commented on #86
Looks good, much simpler, works well until now, thank you very much!

[2018-11-07 07:54] Strauman commented on #86
@thorstengrothe No problem! Thanks for testing!
Also - if you figure out a different way of placing stuff in the right margin (without using `\marginpar` or `\marginnote`) let me know?

[2018-11-12 11:34] Strauman opened #87 "Code not using 'build-in' `\if`"
In the beginning the package was implemented using a weird non-conventional system for dealing with conditionals. This should be rewritten to use the LaTeX-command `\newif`.

[2018-11-20 10:46] Strauman opened #88 "Possibility for choosing tags in `\makeset`"
One should be able to show/hide tags based on `\makeset`.

[2018-11-25 17:14] tristelune1 opened #89 "Exercise title"
Hi,

it would be very interesting to give a title to an exercise. For example:

 **Exercice 1.** Speed of an airplane

Sometimes it's just a math exercise to solve, sometimes the exercise is related to a real life problem. In that case to add a title is a good point: it gives more sense.

I would add it as above. I still didn't use the point system, but I saw it's possible to customize the style.

[2018-11-27 18:38] Strauman commented on #89
Do you have a suggestion as to how the interface of this would be? I mean:
- Where would you specify the _problem_ title?
- The part problem title I suggest would be specified used the `\nextproblem` command

[2018-11-27 18:43] Strauman commented on #89
A temporary solution:

[code]

[2018-11-28 18:37] prismv opened #90 "Best candidate to test and use v0.2.3-prerelease?"
Dear Andreas,

today I was upgrading from build 106 to build 110, and found out that it seems to be broken somehow (e.g. display solutions). Currently v0.2.3-prerelease - Build 108 seems fine.

I saw then that you actually logged latest two releases as 'experimental', but this is not obvious from README.md content.

Thanks for your work.

Regards
Ralf

[2018-11-28 19:14] Strauman commented on #90
Hello Ralf!
So currently CTAN has build 97, and any release not on CTAN should in one way or another be considered experimental. However when I write `experimental` in the release, it is most likely some issues! I'm trying to keep the prereleases as bug-free as possible though, but no guarantees!

Would you mind specifying what is wrong with build 110? You say `\DisplaySolutions` doesn't work, and

[2018-11-28 19:15] Strauman opened #91 "b100-experimental: `\DisplaySolutions` showing warning"
When built with `\DisplaySolutions`, the warning message "`Hiding solutions. Show them with \DisplaySolutions` still shows.

Related to #90.

[2018-11-28 19:19] Strauman commented on #90
@prismv as it turns out, the solutions are shown, but the wrong warning message is showing:

Is this the same as your problem?

[2018-11-28 19:30] Strauman commented on #90
Released [build 111](https://github.com/Strauman/exercisebank/releases/tag/0.2.3b111-experimental): Would you mind to check if this works as expected?

[2018-11-29 09:06] tristelune1 opened #92 "Point system: unable to display points"
Hi,

This time I want to use the point system, but unfortunately it doesn't work. What I expect: if I have

    \nextproblem{points=3}

Those points will be displayed in the exercise sheet, but it's not the case.

My files:

[code]

My database:

[code]

I sure it works for you, but I'm getting crazy, something is wrong or there is an issue on my system. What I discovered:

- it seems you use the

[2018-12-03 13:38] Strauman opened #93 "Exercisebank hangs on overleaf"
It seems to be caused by hiding tags in `hidetags.tex` since uncommenting the `\At\DecideProblemDisplay` hook makes it compile nicely.

[2018-12-03 13:50] Strauman commented on #93
Seems like overleaf does not treat empty macros the same. `listofitems` is thus handling empty items in `\exb@intersection@any`.

[2018-12-04 23:53] prismv commented on #90
[test.zip](https://github.com/Strauman/exercisebank/files/2646589/test.zip)

Sorry for delay. Attached file shows that also with build 111 instead of solution text only a 0 is inserted. Build 108 works as expected.

[2018-12-05 21:05] tristelune1 commented on #89
Sorry, I didn't see your answer. I'll use your temporary solution if needed. But for me at the moment, the main problem is the point system.

[2018-12-07 10:40] Strauman commented on #90
Thank you, @prismv. Check out [Build 113](https://github.com/Strauman/exercisebank/releases/tag/0.2.3b113-experimental)!

[2018-12-07 10:42] Strauman commented on #92
I'm a little overwhelmed with work at the moment. I'll take a look at it some time next week or the week after :)

[2018-12-08 12:03] prismv commented on #90
Dear @Strauman, I checked the most recent 0.2.3b115-prerelease and the problem with no display of solution is solved. So I can go on testing the 0.2.3+ release with the latest version. Great!

Best regards

[2018-12-08 14:00] tristelune1 commented on #89
After thinking about it, when you implement it, I would not choose something as "problemtitle". It was my first idea, but we could also:
- use a star to show that it's a difficult problem
- write "(optional)" if it's not for every students
- Simply "Hard" or "Medium" to give an idea of the difficulty of a problem.

So at the end it won't be always a title. It would be rather some informations one

[2018-12-08 14:01] tristelune1 commented on #92
Thank you for your answer. No problem, I'll wait. You know now why I disappeared for several weeks ;-).  I was busy with your package!

[2018-12-08 19:50] thorstengrothe opened #94 "Show intros with \SolutionsOnly"
I'm very busy with exams  and exercises at the moment, of course with exercisebank :-) I often use env
[code]
to declare some information for my students. This can be a graphics file or a tabular etc. The following problems refer to the information shown in intro. So I think it would be useful if `\SolutionsOnly` would show the corresponding intro environment as well. What do you think?

[2018-12-17 16:00] tristelune1 commented on #92
I've tested now, and it still doesn't work. Does it work in your system ?

[2018-12-18 09:52] Strauman commented on #92
I don't know. I'll have a look :)

[2018-12-18 11:07] Strauman commented on #92
There was a bug that wouldn't show the points on the first part problem. This is now fixed and will be released shortly. However, the "point display" is a part of the "part problem" header. That means if you do `part problems=false`, it's not going to show. `part problems=false` removes the need for part problems entirely and will consider any `problem` environment as a completely new problem, and

[2018-12-18 22:53] tristelune1 opened #95 "Multiple problems (exercises) in one file - Problems structure"
Hi,

This question follow the issue #92.
Suddenly, I'm not sure anymore I understand your package well. At the beginning I tried and found a solution which worked for me. But I'm not sure it was your idea. From the documentation I understand now:

- one problem with some partproblems -> one file.

Let's say the following, I have the following problem:

[code]

It's one problem with two partproblem

[2018-12-18 22:57] tristelune1 commented on #92
Hhhmmm, I'm afraid your workaround is not possible for me. First I let you clarify #95 . Then we can discuss this. In short: my files have much more than 3 problems, it's not possible to include them like your suggestion :worried: .

[2018-12-21 11:54] Strauman commented on #95
I can attempt to make some different approach to this, so you can have multiple exercises in one file.

[2018-12-22 09:01] tristelune1 commented on #95
Perhaps it's not necessary. For me mixnmatch is very interesting, but for the moment I can't use it.
If I would change the structure of the exercises, I would be able to use the point system and  to use mixnmatch for example. It would need a lot of time, but if there is a benefit there is no problem.
The problem is I don't know how I could manage all files. I have at least 400 problems, perhaps 50

[2018-12-23 20:40] Strauman commented on #95
Shouldn't be too much work, but I'll probably not look at it until the newyear. Merry christmas :)

[2018-12-30 10:33] tristelune1 commented on #95
No problem, I'll wait for this New Year gift ;-). Thank you for all your work!

[2018-12-31 07:12] Strauman commented on #95
What if you do
[code]
And then you just write `\exercise` between the exercises?

[2019-01-03 22:38] thorstengrothe opened #96 "true/false questions randomization possible?"
I made a personal true/false environment like in exam.cls with `enumitem` :

[code]
The result with this code looks like this:
[code]
![bildschirmfoto_2019-01-03_22-20-27](https://user-images.githubusercontent.com/19598706/50664692-3d60f000-0fae-11e9-85fd-a5ff028938aa.png)

And here the solution displayed
[code]
![bildschirmfoto_2019-01-03_22-22-32](https://user-images.githubusercontent.com/195987

[2019-01-04 08:56] Strauman commented on #96
1. That if exists:`\ifexb@DisplaySolutions`
2: I think this is beyond the scope of what I really want implemented in exercisebank (to keep it light weight), but I suspect you could do something with one or more of the packages from the ctan [random](https://ctan.org/topic/random) topic.

[2019-01-04 12:16] thorstengrothe commented on #96
`\makeatletter\def\ifisSolution{\ifexb@DisplaySolutions}\makeatother`
This works fine, thank you very much. Is it possible to make the same with `\SolutionsOnly`, I played a bit with your code, but I have no sucess..

@randomize
Ok, I see your point, the package needs to be lightwight, I agree with that, the problem with `eqexam`, `exam`, `xsim`  etc. is that they have too much features with the t

[2019-01-06 08:08] tristelune1 commented on #95
I have tried, but there are still some problems. But I need to test more to understand the problem. After I will report them.

For me there is still the option to split my big files in small ones, because I could use the mixnmatch features for example. But one thing is not clear to me: my goal is to choose some exercises in a set easily. When all exercises are in one big file, it's as easy as:

[2019-01-07 18:10] Strauman commented on #95
That is `\nextproblem{tags={list,of,tags}}` before part problems and then use the commands `\buildtags` and `\HideTags` as described in [the docs](https://github.com/Strauman/exercisebank/blob/master/release/exercisebank-doc.pdf) :)

[2019-01-07 20:44] tristelune1 commented on #95
At first, I thought, I'm really stupid. But I need to check, because I'm not sure it works. Or if I say it otherwise: perhaps there is problem with a small detail. How can I include the files in which there is the geometry tag. I check it and try it tomorrow. Perhaps I will feel very bad tomorrow ;-).

[2019-01-08 07:31] Strauman commented on #95
@tristelune1 If you have read the docs, and still don't understand, then either something does not work, or the docs aren't good enough. Here is a complete example that I get to work just fine:

[code]

Let me know if you can't get it to work!

[2019-01-08 12:57] tristelune1 commented on #95
I'm must be a real pain at the moment ;-).

The problem is probably: I can't achieve what I want, because I didn't explained well my workflow. I understand your example and thank you very much for it. What I don't like: if I understand correctly, I need to add the part between
[code]
In each exercisesheet. If I want to use the third exercise in two different exercise sheets, I need to write it two

[2019-01-11 23:15] thorstengrothe commented on #96
Ah, that's good to know, unfortunately it helps me not for this problem. I defined a new env like this

[code]

and I only want the second argument when `\DisplaySolutions` is **not** on. I tried a couple of things with `\ifthenelse` but nothing works. Do you have an idea how to solve this?

[2019-01-21 13:36] Strauman commented on #96
Then this should work:

[code]

The `/.expand once` expands the content once.
Possibly you could do
[code]

[2019-01-21 13:45] Strauman commented on #95
`filecontents` is just writing to a file, so no. E.g.

[code]
is the same as making `myfile.tex`, adding `CONTENTS` to the file and then do `\input{myfile}`.

For including all 70 files you could possibly do
[code]
which would be equivalent to doing `\makeset{myExerciseSet}{exercise1,exercise2,........}` all the way to `exercise70`.

Sorry for brief response, I'll make sure I proof read your quest

[2019-01-21 19:20] thorstengrothe commented on #96
@Strauman thanks for your code snippet. In the meantime I changed the command with the help of xparse, which I like very much, to this:

[code]
I did not know that it's possible to nest a command in another command. If I want to change something in another context I can simply write

[code]

It works good, but I will test your snippet too :-)

[2019-01-23 16:08] tristelune1 commented on #95
Thank you for your answer. Now I need time to test everything. Because at the end I could end with splitting my big files...... it will be a piece of cake! In that case I have to write some scripts to do the job for me.
I'll give you some news probably next week.

[2019-01-27 09:09] Strauman opened #97 "Make option to set dynamic input path"
Pathcontrol for figures work, but not for `\input`.
Suggesting a command `\figpath` that contains the path to the figures for this file.

[2019-01-27 09:32] Strauman opened #98 "Make exercisebank compatible with other compilers than PDFLaTeX"
\pdfstrcmp does not work in xelatex, as per #82 .
Many features use `\pdfstrcmp`, and makes it pretty much incopatible for many LaTeX compilers.

[2019-01-27 09:43] Strauman commented on #56
@tristelune1 Does the paths work as expected after the last few fixes?

[2019-01-29 17:36] tristelune1 commented on #95
Thank you for your code. It works for me! It's not as convenient as a `select`, but it's enough!

For me you can close this issue.

[2019-01-29 17:48] tristelune1 commented on #92
Issue  #95 will be closed. So you can also close this one. I will split my files in smaller files. So the point system works, excepted for another feature I would like. After writing this command I will write it.

For me you can close this issue.

[2019-01-29 17:53] tristelune1 commented on #75
It seems to work now. You can close this issue. Thank you for the fix!

[2019-01-29 18:17] tristelune1 opened #99 "Point system: sum of points for a problem"
At the moment, with the point system, the following is possible:

- to get the sum of all points with `totalpoints`
- to show the number of points for a part problem.

I would like to add the sum of points for all part problems in a problem. I mean:

[code]

In this example, I don't know how it's possible to get the sum of points for all part problems. I discovered recently the package [exercisepo

[2019-01-29 20:56] tristelune1 commented on #89
Some more consideration: after discovering the package [exercisepoints](https://github.com/henningkerstan/exercisepoints), something like

\begin{problem}[Problem title]
\end{problem}

Would be very easy to use. I don't know if it's possible.

In between I can use your solution if necessary. My needs changed a little bit:

- I still need to write a title or "optional". In short: a string.
- Perhap

[2019-01-30 08:10] Strauman commented on #99
Latest release now has a command `\exercisepoints`, which should do what you want.

[2019-01-30 08:33] #92 closed

[2019-01-30 08:34] #95 closed

[2019-01-30 08:35] Strauman commented on #56
Works fine here? You shouldn't set `\graphicspath` yourself - exercisebank does it for you. Would you check out the docs on this to make sure you're doing it right and, if you are doing it right, make a new reproducable example?

[2019-01-30 08:37] #96 closed

[2019-01-30 15:44] tristelune1 commented on #99
Great, thank you! Tested and ok for me.

[2019-01-30 20:40] tristelune1 commented on #56
So here is what I tested, what I know.

Main file: main.tex:
[code]

In this configuration it works without problems. But has soon has an exercise has a picture, it doesn't work anymore. Path of first exercise:

    /home/user/Mes_Documents/prof/cours_exercices/test1

In that folder there the exercise ex1.tex.

ex1.tex:

[code]

Second exercise file ex2.tex. Path:

    /home/user/Mes_Documents/pro

[2019-02-05 12:46] #99 closed

[2019-02-10 08:43] Strauman commented on #89
That exact syntax would not be possible because of limitations of the `comments` package. I think `\nextproblem` would be the place to put it.

[2019-02-10 08:45] Strauman commented on #98
Here is a suggestion for string comparison algorithm:

[code]

[2019-02-10 08:46] Strauman commented on #98
Also would (at least help) fix #82

[2019-02-13 15:56] Strauman commented on #56
I don't know why I didn't think of this before, but you can append to the graphicpaths:
[code]

[2019-02-13 16:21] Strauman opened #100 "LaTeX crashes if newline in makeset"
E.g.
[code]
As opposed to
[code]

[2019-02-15 08:16] Strauman commented on #94
Yes! I would maybe suggest some optional arguments sent to `\SolutionsOnly`?

[2019-02-15 08:17] #46 closed

[2019-02-15 08:19] #43 closed

[2019-02-15 08:20] #42 closed

[2019-02-15 08:29] Strauman commented on #97
It does though.

[2019-02-15 08:29] #97 closed

[2019-02-15 08:29] #93 closed

[2019-02-15 08:29] #91 closed

[2019-02-15 08:31] Strauman commented on #90
I'm closing this :)
When you are using the latest prereleases and/or experimental versions, please let me know?
Even when it works, it's nice to know :)

[2019-02-15 08:31] #90 closed

[2019-02-15 08:35] #68 closed

[2019-02-15 08:35] #66 closed

[2019-02-15 08:36] Strauman commented on #61
This got fixed, yes?

[2019-02-15 08:44] Strauman commented on #56
Should be fixed in b125

[2019-02-15 08:44] #56 closed

[2019-02-15 08:45] Strauman commented on #55
Should be fixed in 95c0aff and be released with 0.2.3

[2019-02-15 08:45] #55 closed

[2019-02-15 17:44] thorstengrothe commented on #61
* Andreas Strauman: 15.02.2019 (09:36):

Yes, it works now fine!

Regards
Thorsten

[2019-02-15 17:46] thorstengrothe commented on #94
Yes, good idea. For now I put a

\nextproblem{tags{mytag}}

before every intro, this works too, but it is a bit inconvenient :-)

[2019-02-15 18:18] thorstengrothe opened #101 "Colorize \ShowTags and add linebreak after"
`\ShowTags ` shows the tags in the same line as the exercise text:

![bildschirmfoto_2019-02-15_17-51-52](https://user-images.githubusercontent.com/19598706/52875845-a616bd00-3155-11e9-9bb1-b079a354eb2d.jpg)

It would be nice if one can colourize the text with \textcolor{green}{tags} and if the tags are shown before the exercise text:

**Tags:** Gesundheitswesen (_linebreak after tags_)
Anne möcht

[2019-02-15 18:51] Strauman commented on #101
Why yes, yes it is. I’ll get back to you :)

[2019-02-15 20:25] Strauman commented on #101
As it turns out, fixing it is not as easy as I thought.
However, let's make a workaround:
The macro containing the printing for the tags is `\exb@printCurrentTags`, so the first step would be to disable that. Secondly, the macro holding tags for a given exercise is `\exb@currentTags`, so we could just use a hook so you can choose where to put the tag. E.g.

[code]
At the next release (prerelease o

[2019-02-16 10:35] Strauman opened #102 "hide option for \nextproblem does not hide solution"

[2019-02-17 05:34] thorstengrothe opened #103 "TeX capacity exceeded, sorry [grouping levels=255]"
I got one big file containing at least 150 exercises and a personal sty file with a lot of custom macros and environments. The file contains graphics and some larger tikz pictures. All exercises are tagged. Compiling the file with all tags enabled:

[code]
leads to `TeX capacity exceeded, sorry [grouping levels=255]`. Commenting out some tags helps and the documents compiles. I searched a lot in m

[2019-02-17 05:35] thorstengrothe commented on #101
Thanks for the the workaround. At the moment I busy with #103. I will test later.

[2019-02-17 09:25] Strauman commented on #103
I suspect you have already done most of these, but, here is my initial thoughts:

1) Check out if it could be related to #100.
( 1a) try putting `%` at the end of each line)
2) Make sure it's not about the `.` in the file name (in e.g. `Preisbildung vk. Markt`)
3) You have a some special characters (`üöä`), make suere it's not those

What build number is it you are working on?

[2019-02-17 14:06] thorstengrothe commented on #103
Thanks for your fast response.

Points 1-3: I fixed them all --> same result
Point 4: nothing special in `comment.cut` only the last exercise before the error comes. If I comment out this exercise another one comes out :-)

This are the last lines of the log file
[code]
For conveniance I attached the complete log file here
[KA_VWL.log](https://github.com/Strauman/exercisebank/files/2873006/KA_VWL.

[2019-02-17 21:26] thorstengrothe commented on #101
With `exercisebank-0.2.3b127-experimental` and a bit modified code

[code]
it looks like this

![tags](https://user-images.githubusercontent.com/19598706/52919399-6b9e5300-3302-11e9-9265-79db228c682f.jpg)

Until now the only issue is the first line is a bit more indented, I guess because of the points definition:

[code]

The rest is very good to read and useful for daily work!!

[2019-02-18 08:45] Strauman opened #104 "Possibilty to hide part problem header when only one part problem"
When only one exercise in an exercise file, there is no need for it to say e.g. 2a)

[2019-02-18 08:59] Strauman commented on #103
1) The problem seems to be with some color boxing?

2) When using `standalone`, are you loading exercisebank twice? The standalone documentclass doesn't seem to define `\ClearHook`? Also `\ClearHook` is just defined for later use, not actually used (yet). I'll rename it and make it internal at next push.

[2019-02-18 10:03] Strauman commented on #104
Fixed in b129

[2019-02-18 10:04] #104 closed

[2019-02-20 15:20] thorstengrothe commented on #103
Ok after some time of testing I found something. I attached two files for testing with enumitem and custom macro definition. If you run this the error comes. I guess it has something to do with enumitem. Can anyone test and report?

I tested with latest development release!

[KA_Testing.txt](https://github.com/Strauman/exercisebank/files/2885178/KA_Testing.txt)

[enumitem_bug.txt](https://github.c

[2019-02-20 16:34] thorstengrothe commented on #103
It works now with the latest release, thank you!

[2019-02-20 18:36] Strauman commented on #103
- Everything worked now, or just the standalone?
- Did you check if you loaded exercisebank twice?
- Can you make your files a little less - with just the essential content (reduce to the minimum of what's necessary to reproduce)?

[2019-02-20 18:53] thorstengrothe commented on #103
@Strauman
Standalone works now, the other thing not :-)

- The first file **KA_Testing.txt** is just necessary to see the error.
- The second one **enumitem_bug.txt** repeats 150 times the same exercise. I did that because I want to save you to copy the exercise 150 times and I do not know how to write a loop to do this, should I make is smaller?

[2019-02-20 19:07] thorstengrothe commented on #103
I reduced the size of the file **enumitem-bug.txt** but you have to repeat it. I tested with 150 times and the error comes maybe it comes earlier. Here are the two files again.

[KA_Testing.txt](https://github.com/Strauman/exercisebank/files/2886113/KA_Testing.txt)
[enumitem-bug.txt](https://github.com/Strauman/exercisebank/files/2886114/enumitem-bug.txt)

[2019-02-21 09:03] Strauman commented on #103
I think you might just have so many exercises that LaTeX runs out of memory?

[2019-02-21 19:22] thorstengrothe commented on #103
@Strauman
ok I guess this is a bug. I got here to simple files without any personal macro definition and standard article class. If you repeat the exercises in **Testing.tex** exactly **123 times** the error comes. It's a problem with `pdlatex` and `exercisebank`, I'm pretty sure. I got documents here which are about 300 pages and more, this is one of the great benefits of latex in my opinion. For

[2019-02-23 09:35] Strauman commented on #103
123, but not 124?

[2019-02-23 09:36] Strauman commented on #103
I will look at it, but later :)

[2019-02-23 10:01] thorstengrothe commented on #103
123 is the last repetition possible everything above will fail :-)

[2019-02-24 10:21] tristelune1 opened #105 "Option part problems: regression with 0.2.3b129"
Hi,

I have tested the last release and there is a problem when I set

    part problems=false

in `exercisebanksetup`.

If you set `part problems` on false,  you should see the problem. The first line of the exercise is above the exercise title. Here is an example if necessary:

main.tex

[code]

And the file `databasedummy.tex` with the exercises:

[code]

[2019-02-24 10:55] tristelune1 opened #106 "Defer Solutions at the end of the exercise sheet"
Hi,

sometimes I need to put the solution at the end of the document. Until now I used a Makefile, but it doesn't work very well. Here is what I did:

- `make sheet`: create the exercise sheet without the solutions
- `make solutions`: create a document with only the solutions. Basically it uses your command `\SolutionsOnly`

My solution is also based on the package etoolbox. I use if statements de

[2019-02-24 13:21] Strauman commented on #106
I'm confused? The problem is that the pagenumbering is wrong? How do I reproduce this?

[2019-02-24 13:22] Strauman commented on #103
Okay. I assume that there is something that is nested. It could be that I forgot a `\egroup` in the code somewhere. I'll have a lokk later.

[2019-02-24 13:26] Strauman commented on #105
It's something weird in combo with the `nohead` arg (and that it ads another header at the end which it shouldn't). Definitely a bug though.

[2019-02-24 14:16] Strauman commented on #103
Please try build 130?

[2019-02-24 14:17] Strauman commented on #105
Should be fixed in build 130

[2019-02-24 17:31] tristelune1 commented on #106
You can't with only one compilation.

My goal: to have all exercises at the begin of the exercise sheet and all solutions at the end. I don't know how I can get such a document. So I produce two documents:

- first document: all chosen exercises without the solutions. I save the document, let's say exercise_sheet.pdf The numbering begins with 1.
- second document: all chosen exercises with the opt

[2019-02-24 17:48] tristelune1 commented on #103
Hi,

today I got exactly the same error. Before I also had big files, one had more than 300 exercises. There was no problem. To include the exercises, I used:

    \makeset[nohead]{databaseexercises}

where `databaseexercises.tex` contains all exercises.

Now all my problems are split and to collect them I use:

[code]

With build 130 there is no more problems. Thank you thorstengrothe for reporti

[2019-02-24 17:52] tristelune1 commented on #105
Yes, great :+1: !!!!!!!

[2019-02-24 20:58] thorstengrothe commented on #103
@Strauman
I tested with 146 exercises and version 130 - it works until now without erros :-)

@tristelune1
I'm thinking about how to organize my exercises. I like the **one-big-file-strategie** because it's simpler but it's harder to debug if something goes wrong. I do not fully understand how you organize your files now. Do you have one big file or do you have several files?

[2019-02-24 21:09] tristelune1 commented on #103
@thorstengrothe
At the moment I have big files, but I will split them. There are pros and cons, but probably Andreas can help us. It's not the same issue, are you interested to open an issue to discuss it ?

[2019-02-26 17:20] Strauman opened #107 "Organizing files"
I'm thinking about how to organize my exercises. I like the **one-big-file-strategie** because it's simpler but it's harder to debug if something goes wrong. I do not fully understand how you organize your files now. Do you have one big file or do you have several files?

_Originally posted by @thorstengrothe in https://github.com/Strauman/exercisebank/issues/103#issuecomment-466816304_

[2019-02-26 17:21] Strauman commented on #103
It is now #107
I think this is an important discussion. It might require big changes on the core of the program, but it's important that we can figure out a good way of doing this. Let's discuss it further in #107

[2019-02-26 17:24] Strauman commented on #107
My use is for multiple exercise sets. One for each week that students solve.
So each of these weeks have its own `\makeset`.

I started putting them into categories in the folder structure, like `exercises/category1/some-ex1.tex`, `exercises/category1/some-ex12tex`, `exercises/category2/some-ex.tex` and so forth. This presents a problem when an exercise belongs to e.g. two categories. I can't real

[2019-02-26 17:27] Strauman commented on #106
Ah. It's kinda related to #3, which I decided not to do.
Because of the `comments` package, one cannot send arguments to the `\begin{problem}` environment. The alternative would be to do something with `\nextproblem{solution=SOLNAME}` and then have a `\nextsolution{name=SOLNAME}`. However, it would be very much work and would be incredibly slow. I don't really know how to fix this. But I'll keep i

[2019-02-26 17:28] Strauman commented on #106
Did you maybe consider using some perl-script to merge the LaTeX-files perhaps?

[2019-02-26 20:58] tristelune1 commented on #106
Ok, I see the problem. So the best is: keep it in your mind and if you get a solution in the future, you could implement it.

It's not a problem to merge the two files. On linux I can use pdfunite. The problem is how I can automate it. I will find a solution and perhaps it could be added in the documentation for the moment. It could interest other users. As soon as I have something, I'll tell you.

[2019-02-26 22:12] tristelune1 commented on #107
If I'm right, you work with single files for the exercises, like @thorstengrothe and since the beginning I did it wrong with **big-file-strategie** :grin: .
I decided to change because I want to use the point system and the mixnmatch feature. But:
- probably I found some problems in the point system or regressions
- I'm not sure anymore if I want to use it..... by writing this answer I'm pretty su

[2019-02-27 14:14] thorstengrothe commented on #107
It's good to see this discussion here. As in the first post said, I like the **one-big-file-strategie**. In the meantime I tried to split my exercises but for me it seems to inconvenient and less effective. Let me explain.

I got 5 courses with different topics. Each course writes 4 large exams per year. That are 20 exams per year plus sometimes a test in between. Let's say I got 25 exams per year

[2019-02-28 07:37] tristelune1 commented on #107
In between I have grouped again my exercises and I will work from now with **one-big-file-strategy**.  First I notice you use the sames tools as I use: `emacs`, `auctex`, `swiper` and `org-mode` is on my list. In my workflow I also you use some makefiles. Perhaps with other tools, this strategy is not the best, but I have some doubts.

By splitting my big files, I discovered some errors. Now I kno

[2019-02-28 19:15] thorstengrothe commented on #107
@tristelune1

in short, because stress level is at maximum :-) at the moment, yes I have no problems with point system. In a few days we can discuss this in deep, maybe I can help...

[2019-02-28 22:41] Strauman commented on #106
Wait. No. You mean just _printing_ the solutions at the end? That might actually be possible...

[2019-03-01 13:08] tristelune1 commented on #106
Take a look at the document I have sent to you. I want the same with the correct page numbering. I don't know exactly what you mean by _printing the solutions_ .

[2019-03-01 13:10] tristelune1 commented on #107
No problem. Perhaps you can send me a document which I can compile to see if it works on my system.

[2019-03-02 09:31] Strauman opened #108 "Ignore sensitivity of trailing `/` in paths"
e.g. `\exercisebanksetup{exercise directory=exercises}` should be equivalent to `\exercisebanksetup{exercise directory=exercises/}`

[2019-03-02 11:19] Strauman opened #109 "Finalize and document `\nextproblems` command (default settings for `\nextproblem`)"

[2019-03-02 18:17] Strauman commented on #106
Wouldn't the following work?
[code]

[2019-03-03 17:30] tristelune1 commented on #106
Yes, after a first look it seems alright! I test is more extensively tomorrow I confirm you. By the way it seems there is still a problem with the spacing. But that's for another issue.

[2019-03-18 08:05] #102 closed

[2019-03-18 08:05] #103 closed

[2019-03-18 08:05] #105 closed

[2019-03-30 18:34] thorstengrothe commented on #107
Sorry for my late response, I have a lot of things to do at the moment and a lot of exams :-)
I can confirm your issue with the points. I have a big file here and for some exercises the points are not shown. At the moment I do not know the reason for this and I have no time to search in deep. I'm pretty sure this is a bug..

Anyway the value of `\totalpoints` is correct, so they are counted but no

[2019-04-17 08:14] Strauman opened #110 "\ShowFilenames cannot handle undercscores"
If a filename have underscore in it, `missing $ inserted`  shows up.

[2019-05-02 16:16] thorstengrothe commented on #88
Maybe this is the same issue.

I have:
[code]
Here ist my test:
[code]
As you can see all three posibilities match. But only the last one
[code]
should match and show the problem, this way I can filter out problems with tags. Is this the same issue or a new feature request?

Regards
Thorsten

[2019-05-23 17:52] thorstengrothe opened #111 "Make output file same as buildset name"
I have a new idea for a feature.

Say I have
`
\buildset{ClassA}`

It would be very helpful if the resulting *pdf has the same name:

`ClassA.pdf`

Is this possible?

Regards
Thorsten

[2019-06-13 09:13] Strauman commented on #111
Not possible: https://tex.stackexchange.com/a/19188/85834

[2019-06-13 09:13] #111 closed

[2019-06-13 11:01] thorstengrothe opened #112 "Filter by several tags"
I asked this somewhere in the past. But I guess it was the wrong location.

Say we have this construct

[code]
Now I want to filter with this command.

[code]
I think it would be more logical if only `a` **and** `b` would match and not `a` **or** `b`.
Is this possible?

Thorsten

[2019-06-13 11:13] thorstengrothe opened #113 "Points are sometimes lost."
Sometimes I have the problem that the points are not shown. Anyway the value of `\totalpoints` is correct, so they are there and counted but hidden. After puzzeling a bit I found out that it has something to do with `\phead` under certain cirsumstances I think. See here:

This does not work:
![1_Jun 2019_56](https://user-images.githubusercontent.com/19598706/59428066-93975200-8ddc-11e9-89c7-b216e1

[2019-06-13 14:03] Strauman commented on #112
Good point. I guess it should be written explicit somewhere. e.g. `\buildtagsAnd` and `\buildtagsOr`.